[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/scanno
[access "refs/for/refs/*"]
	read = group user/scanno
	push = group user/scanno
	label-Code-Review = -2..+2 group user/scanno
	label-Verified = -1..+1 group user/scanno
	rebase = group user/scanno
	removeReviewer = group user/scanno
	submit = group user/scanno
[access "refs/heads/*"]
	read = group user/scanno
	create = group user/scanno
	push = +force group user/scanno
	pushMerge = group user/scanno
[access "refs/tags/*"]
	push = group user/scanno
	push = +force group user/scanno
